<nav class="sidebar-project-nav" aria-label="Datapath Visualized navigation">
  <p class="sidebar-project-title">Datapath Visualized</p>
  <ul>
    <li><a href="{{ '/blog/datapath-visualized/' | relative_url }}" class="{% if page.url == '/blog/datapath-visualized/' %}active{% endif %}">Overview</a></li>
    <li><a href="{{ '/blog/datapath-visualized/physical-mediums-and-transceivers/' | relative_url }}" class="{% if page.url == '/blog/datapath-visualized/physical-mediums-and-transceivers/' %}active{% endif %}">Physical Mediums &amp; Transceivers</a></li>
    <li><a href="{{ '/blog/datapath-visualized/serdes-and-phy/' | relative_url }}" class="{% if page.url == '/blog/datapath-visualized/serdes-and-phy/' %}active{% endif %}">SerDes &amp; PHY</a></li>
    <li><a href="{{ '/blog/datapath-visualized/asics-and-pipelines/' | relative_url }}" class="{% if page.url == '/blog/datapath-visualized/asics-and-pipelines/' %}active{% endif %}">ASICs and Pipelines</a></li>
    <li><a href="{{ '/blog/datapath-visualized/chassis-fabric-architectures/' | relative_url }}" class="{% if page.url == '/blog/datapath-visualized/chassis-fabric-architectures/' %}active{% endif %}">Chassis Fabric Architectures</a></li>
    <li><a href="{{ '/blog/datapath-visualized/planes-and-rps/' | relative_url }}" class="{% if page.url == '/blog/datapath-visualized/planes-and-rps/' %}active{% endif %}">The Different Planes and RPs</a></li>
  </ul>
</nav>
