<nav class="sidebar-project-nav" aria-label="Learning Automation navigation">
  <p class="sidebar-project-title">Learning Automation</p>
  <ul>
    <li><a href="{{ '/projects/learning-automation/good-automation-practices/' | relative_url }}" class="{% if page.url == '/projects/learning-automation/good-automation-practices/' %}active{% endif %}">Good Automation Practices</a></li>
    <li><a href="{{ '/projects/learning-automation/' | relative_url }}" class="{% if page.url == '/projects/learning-automation/' %}active{% endif %}">Ansible</a></li>
    <li><a href="{{ '/projects/learning-automation/getting-started/' | relative_url }}" class="{% if page.url == '/projects/learning-automation/getting-started/' %}active{% endif %}">Getting Started</a></li>
    <li><a href="{{ '/projects/learning-automation/inventory-deep-dive/' | relative_url }}" class="{% if page.url == '/projects/learning-automation/inventory-deep-dive/' %}active{% endif %}">Deeper Dive into Inventories</a></li>
    <li><a href="{{ '/projects/learning-automation/playbooks-and-task-model/' | relative_url }}" class="{% if page.url == '/projects/learning-automation/playbooks-and-task-model/' %}active{% endif %}">Playbooks and Task Model</a></li>
    <li><a href="{{ '/projects/learning-automation/network-modules/' | relative_url }}" class="{% if page.url == '/projects/learning-automation/network-modules/' %}active{% endif %}">Network Modules</a></li>
    <li><a href="{{ '/projects/learning-automation/collections-and-dependencies/' | relative_url }}" class="{% if page.url == '/projects/learning-automation/collections-and-dependencies/' %}active{% endif %}">Collections and Dependencies</a></li>
    <li><a href="{{ '/projects/learning-automation/adhoc-and-idempotency/' | relative_url }}" class="{% if page.url == '/projects/learning-automation/adhoc-and-idempotency/' %}active{% endif %}">Ad-hoc Commands</a></li>
    <li><a href="{{ '/projects/learning-automation/flags/' | relative_url }}" class="{% if page.url == '/projects/learning-automation/flags/' %}active{% endif %}">Flags</a></li>
    <li><a href="{{ '/projects/learning-automation/ansible-config/' | relative_url }}" class="{% if page.url == '/projects/learning-automation/ansible-config/' %}active{% endif %}">Ansible Config</a></li>
  </ul>
</nav>
